:root {
  --bg: #ffeaf0;
  --text: #1e283f;
  --secondaryText: #c82f31;
  --blueText: #1d356e;
  --primary: #ff7b876b;
  --border: #b22222;
  --secondaryBorder: #575757;
  --font-heading: "Zen Maru Gothic", sans-serif;
  --font-body: "IBM Plex Mono", monospace;
}
